{:paths   ["src" "test" "env"]
 :deps    {org.clojure/data.json                           {:mvn/version "0.2.7"}
           clj-http                                        {:mvn/version "3.10.0"}
           com.cognitect/anomalies                         {:mvn/version "0.1.12"}
           }
 :aliases {
           :nrepl {:extra-deps
                   {nrepl/nrepl {:mvn/version "0.6.0"}}}
           :test        {:extra-paths ["test"]}
           :dev         {:extra-paths ["env"]}}}
