{:scheme "https", :host "management.azure.com", :info {:title "DomainRegistrationProvider API Client", :version "2015-04-01"}, :ops {:DomainRegistrationProvider_ListOperations {:path "/providers/Microsoft.DomainRegistration/operations", :description "Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider", :parameters [#:reference{:parameters "apiVersionParameter"}], :verb :get}}, :parameters {:apiVersionParameter {:description "API Version", :in "query", :name "api-version", :required true, :type "string"}, :subscriptionIdParameter {:description "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).", :in "path", :name "subscriptionId", :required true, :type "string"}}, :definitions {}}