{:scheme "https", :host "azure.local", :info {:description "File containing commonly referenced parameters.", :title "Common Referenced Parameters File", :version "2017-08-30"}, :ops {}, :parameters {:AzureRegion {:description "Supported Azure regions for Cognitive Services endpoints", :enum ["westus" "westeurope" "southeastasia" "eastus2" "westcentralus" "westus2" "eastus" "southcentralus" "northeurope" "eastasia" "australiaeast" "brazilsouth" "canadacentral" "centralindia" "uksouth" "japaneast"], :name "AzureRegion", :type "string", :x-ms-parameter-location "client", :x-ms-enum {:modelAsString false, :name "AzureRegions"}, :x-ms-skip-url-encoding true, :required true, :in "path"}}, :definitions nil}