{:scheme "https", :host "management.azure.com", :info {:description "Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role definitions and role assignments. A role definition describes the set of actions that can be performed on resources. A role assignment grants access to Azure Active Directory users.", :title "AuthorizationManagementClient", :version "2015-07-01"}, :ops {:GlobalAdministrator_ElevateAccess {:path "/providers/Microsoft.Authorization/elevateAccess", :description "Elevates access for a Global Administrator.", :parameters [#:reference{:parameters "ApiVersionParameter"}], :verb :post}}, :parameters {:ApiVersionParameter {:description "The API version to use for this operation.", :in "query", :name "api-version", :required true, :type "string"}}, :definitions nil}